<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
  </head>
  <body>
   <div class="wrap">
       <div class="header">
           <div class="title">
               Todo
           </div>
       </div>
       <div class="content">
           <div class="add-list">
               <div class="list">
                   <span>Add a list..</span>
                   <input type="text" class="add-list-input" placehoder="Add a list..">
               </div>
               <div class="clear"></div>
               <div class="save-btn">
                    添加 
               </div>
           </div>
           
       </div>
       <div class="todo-list">
            <div class="todo-title">待办事项</div>
            <div class="content-list-wrap">
                <div class="content-list">
                    待办事项一
                </div>
                <ul>
                    <li>完成</li>
                    <li>修改</li>
                    <li>删除</li>
                </ul>
            </div>
            <div class="content-list-wrap">
                <div class="content-list">
                    待办事项一
                </div>
                <ul>
                    <li>完成</li>
                    <li>修改</li>
                    <li>删除</li>
                </ul>
            </div>
            <div class="content-list-wrap">
                <div class="content-list">
                    待办事项一
                </div>
                <ul>
                    <li>完成</li>
                    <li>修改</li>
                    <li>删除</li>
                </ul>
            </div>
       </div>
   </div> 
   <script src="javascripts/jquery-1.11.1.min.js"></script>
   <script src="javascripts/todo.js"></script>
  </body>
</html>
