body { background: #fff; width: 100%; height: 100%; }
* { -webkit-box-sizing: border-box; color: #111;
-moz-box-sizing: border-box;
box-sizing: border-box; z-index: 0; outline: none; padding:0px; margin:0px;font-size:12px; font-family:  'Hiragino Sans GB', Arial,  'Microsoft YaHei', "微软雅黑", STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif; outline: none; -webkit-font-smoothing: antialiased; 
}

.wrap { width: 100%; position: relative; }
.wrap .header { position: relative; width: 100%; height: 40px; background-color: #026aa7; padding: 5px; }
.wrap .header .title { color: #fff; height: 30px; width: 100px; margin: 0 auto; line-height: 30px; font-size: 15px; font-weight: 700; }
.wrap .content { position: relative; overflow: hidden; width: 100%;height: 660px; }
.wrap .content .add-list { cursor: pointer; width: 320px; height: 40px; float: left;  margin: 30px; }
.wrap .content .add-list .list { position: relative; width: 220px; height: 40px; float: left; background-color: #0d6695; border-radius: 4px; padding: 3px; }
.wrap .content .add-list .list:hover { background-color: #09517a; }
.wrap .content .add-list .list.on { background-color: #fff; }
.wrap .content .add-list .list span { display: block; position: absolute; line-height: 34px; font-size: 15px; margin-left: 5px; color: #fff; font-weight: 700; }
.wrap .content .add-list .list span.off { display: none; }
.wrap .content .add-list .list .add-list-input { position: absolute; width: 214px; height: 34px; background-color: #fff; border-radius: 4px; display: none; font-size: 14px; font-weight: 600; padding: 3px;}
.wrap .content .add-list .list .add-list-input.on { display: block; }
.wrap .content .add-list .save-btn { background-color: #70b500; border-radius: 55%; color: #fff; width: 35px; height: 35px; text-align: center; line-height: 35px; font-size: 11px; font-weight: 600; float: left; margin-left: 10px; display: none; }
.wrap .content .add-list .save-btn.on { display: block; } 
.wrap .content .add-list .close-btn { background-color: #da4e4e; border-radius: 55%; color: #fff; width: 35px; height: 35px; text-align: center; line-height: 35px; font-size: 11px; font-weight: 600; float: left; margin-left: 10px; display: none; }
.wrap .content .add-list .close-btn.on { display: block; } 